<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getYear()}">VALUE</p>
<p th:text="${book.getBookId()}">VALUE</p>

<p th:if="${book.getOwner() == null}">This book is not assigned to anyone.</p>
<form th:if="${book.getOwner() == null}" th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getBookId()})}">
    <label for="person">Assign this book to a person:</label>
    <select th:object="${person}" th:field="*{personId}" id="person">
        <option th:each="person: ${people}" th:value="${person.getPersonId()}"
                th:text="${person.getFullName()}"/>
    </select>
    <br/>
    <input type="submit" value="Assign to selected person"/>
</form>

<div th:if="${book.getOwner() != null}">
    <th:block th:each="person : ${people}">
        <th:block th:if="${person.getPersonId() == book.getOwner().getPersonId()}">
            <p th:text="'This book is assigned to ' + ${person.getFullName()}">VALUE</p>
        </th:block>
    </th:block>
</div>
<form th:if="${book.getOwner() != null}" th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getBookId()})}" th:object="${book}">
    <input type="submit" value="Unassign the book"/>
    <br/>
</form>

<a th:href="@{/books/{id}/edit(id=${book.getBookId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>